@using MyTool.Services
@using MyTool.Enums
@using WabMaker.Web.Helpers
@model WabMaker.Web.WebViewModels.ItemPageResult


<div class="title_border"><div class="title_box"><h1 class="titlt_inline">好文推薦<mark>Recommend</mark></h1><span class="titlt_inline"><a href="#">更多活動<i class="fas fa-angle-double-right"></i></a></span></div></div>
<div class="block_t20">
    <div class="com article_5 wow fadeInUp">

        @if (Model != null)
    {
        foreach (var item in Model.DataResult.Data)
        {
            var mainImage = item.ItemFiles?.FirstOrDefault(x => x.SourceType == (int)SourceType.ItemConver);

            if (mainImage != null)
            {
        <div class="aside_5">
            <a href="@Url.Action("Get", "Item", new { routeName = item.Item.RouteName })">
                <hgroup>
                    <div class="img pic_size" style="background-image: url(@(mainImage.FileType==FileType.YouTube?_YouTube.SetThumbnail(mainImage.FilePath):RouteHelper.SetImagePath(mainImage.FilePath, mainImage.ThumbnailPath)));"><img src="/html/Aiot/images/blank_500x255.png"  /></div>
                    <h1>@item.ItemLanguage.Subject</h1>
                    <p>@_Html.WordSubstring(_Html.RemoveHtml(item.ItemLanguage.Content), 50)</p>
                </hgroup>
            </a>
        </div>
            }
        }
    }
    </div>
</div>