@charset "utf-8";
/* CSS Document */


svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa.fa-w-16 {
  width: 1em;
}
.svg-inline--fa.fa-fw {
  width: 1.25em;
}

.fa-layers svg.svg-inline--fa {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.fa-fw {
  text-align: center;
  width: 1.25em;
}

@-webkit-keyframes   100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes   100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

