@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
#consolo{
    position:relative;display:block;width:100%; 
}
#consolo>#scrollshow{z-index:999;}
html,body,div,p{
    position:relative;display:block;padding:0;border:0;margin:0;
}
html{
    overflow-x:hidden;
    overflow-y:scroll;
    font-size:16px;
}
body{
    font-family:
        'Roboto','Noto Sans TC',
        'Microsoft JhengHei UI','Microsoft JhengHei',
        'microsoft mhei',
        'Microsoft YaHei UI','Microsoft YaHei',
        'PMingLiU',
        sans-serif;
    font-size:1rem;
    font-weight:300;
}
a{position:relative;display:inline-block;text-decoration:none;cursor:pointer;}
img{display:block;width:100%;height:auto;}
u,i,b,em,span{display:inline;text-decoration:none;font-style:normal;}

[fsys]{font-family:
        'Roboto',
        'Microsoft JhengHei UI','Microsoft JhengHei',
        'microsoft mhei',
        'Microsoft YaHei UI','Microsoft YaHei',
        'PMingLiU',
        sans-serif;}
[fhei]{font-family:
        'Roboto','Noto Sans TC',
        'Microsoft JhengHei UI','Microsoft JhengHei',
        'microsoft mhei',
        'Microsoft YaHei UI','Microsoft YaHei',
        'PMingLiU',
        sans-serif;}
[as='icon']{
    position:relative;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    flex-direction:row;
    flex-wrap:wrap;
}
[as='icon']>[as*='icon']{
    position:relative;display:inline-block;
}
[as='icon']>[as='iconsvg']{
    position:relative;display:inline-block;width:1em;height:1em;color:inherit;
}
[as='icon']>[as='iconsvg']>[as='svg']{
    position:relative;display:block;width:100%;height:100%;
    color:inherit;font:inherit;
}
[as='icon']>[as='iconsvg']>[as='svg']>svg{
    fill:currentColor;
    stroke-width:0; stroke:currentColor;
    width:100%; height:100%;
}
#wrapper{
    position:relative;display:block;width:100%;padding:0;border:0;margin:0;
    font-size:1rem;overflow:hidden;
}




#ishead{position:relative;display:block;width:100%;padding:0;border:0;margin:0;font-size:inherit;}
#isfeature{width:100%;padding:22% 0;}
#isfeature>.ascase{position:absolute;top:0;left:0;bottom:0;right:0;}
#isfeature>.ascase>.asfoto{
    position:absolute;
    display:block;
    top:0;bottom:0;left:0;right:0;
    overflow:hidden;
}
#isfeature>.ascase>.asfoto>#iscanvasx{position:absolute;} 
#iscanvasx{width:100%;height:100%;overflow:hidden;top:0;left:0;}
#isfeature>.ascase>.asfoto>#iscanvasy{position:absolute;} 
#iscanvasy{width:100%;height:100%;overflow:hidden;top:0;left:0;}
#iscanvasx>.asunit{position:absolute;display:block;}
#iscanvasy>.asunit{position:absolute;display:block;}
#iscanvasx>.asunit>img{width:100%;height:auto;}
#iscanvasy>.asunit>img{width:100%;height:auto;}
@media only screen and (max-width: 680px) { 
    #isfeature{width:100%;padding:85% 0;} 
    #iscanvasx{display:none;}
    #iscanvasy{display:block;}        
    #iscanvasy>.asunit.mbkv001{width:100%;top:50%;transform:translateY(-50%);}
    #iscanvasy>.asunit.mbkv002{width:100%;top:0%;left:50%;transform:translateX(-50%);}
    #iscanvasy>.asunit.mbkv003{width:48%;top:34%;;left:64%;transform:translateX(-50%);}
    #iscanvasy>.asunit.mbkv004{width:46%;top:20%;left:56%;transform:translateX(-50%);}
    #iscanvasy>.asunit.mbkv005{width:40%;top:8%;left:36%;transform:translateX(-50%);}
    #iscanvasy>.asunit.mbkv006{width:80%;top:72%;left:10%;}
    #iscanvasy>.asunit.mbkv007{width:84%;top:66%;left:8%;}
    #iscanvasy>.asunit.mbkv008{width:92%;top:50%;left:4%;}
}
@media only screen and (min-width: 681px) { 
    #isfeature{width:100%;padding:22% 0;} 
    #iscanvasx{display:block;}
    #iscanvasy{display:none;}
    #iscanvasx>.asunit.pckv001m{width:0;height:0;top:0;left:0;display:none;}
    #iscanvasx>.asunit.pckv001{width:100%;top:50%;transform:translateY(-50%);}
    #iscanvasx>.asunit.pckv002{width:32%;top:0%;left:48%}
    #iscanvasx>.asunit.pckv003m{width:0;height:0;top:0;left:0;display:none;}
    #iscanvasx>.asunit.pckv003{width:32%;top:32%;left:50.5%;}
    #iscanvasx>.asunit.pckv004m{width:0;height:0;top:0;left:0;display:none;}
    #iscanvasx>.asunit.pckv004{width:36%;top:11%;left:44%;}
    #iscanvasx>.asunit.pckv005{width:28%;top:54%;left:53%;}
    #iscanvasx>.asunit.pckv006{width:20%;top:54%;left:29.5%;}
    #iscanvasx>.asunit.pckv007{width:19%;top:31%;left:26.5%;}
    #iscanvasx>.asunit.pckv008{width:16%;top:13%;left:21.5%;}
}


#istopymenu{ 
    position:absolute; top:0; left:0; right:0; bottom:auto; height:0;
    font-size:1rem;;;;
}
@media only screen and (max-width: 450px) {                         #istopymenu{font-size:1rem;}}
@media only screen and (min-width: 451px) and (max-width: 630px) {  #istopymenu{font-size:1.125rem;}}
@media only screen and (min-width: 631px) and (max-width: 810px) {  #istopymenu{font-size:1.25rem;}}
@media only screen and (min-width: 811px) {                         #istopymenu{font-size:1.375rem;}}
#istopymenu>.ascase{ position:relative; width:100%; max-width:1080px; height:0; margin:auto;}
#istopymenu>.ascase>.aslogo{position:absolute;left:0;top:0;}
#istopymenu>.ascase>.aslogo>a{
    padding:0.25em;
}
#istopymenu>.ascase>.aslogo>a>img{
    width:9em;height:calc(100% * (50 / 216));
}
#istopymenu>.ascase>.asshare{position:absolute;top:0;right:0;display:flex;padding:0.125em;}
#istopymenu>.ascase>.asshare>a{
    font-size:1.75em;
    color:#fff;
    padding:0.1em;border-radius:50%;margin:0.125em;
    opacity:1;
}
#istopymenu>.ascase>.asshare>a.asfacebook{background-color:#4267b2;}
#istopymenu>.ascase>.asshare>a.asappline{background-color:#00b900;}
#istopymenu>.ascase>.asshare>a.asread{background-color:#399;}
#istopymenu>.ascase>.asshare>a.asload{background-color:#399;}
#istopymenu>.ascase>.asshare>a.asread>span[as='icontxt'],
#istopymenu>.ascase>.asshare>a.asload>span[as='icontxt']{
    position:absolute;
    display:block;
    font-size:1rem;
    background-color:#f00;
    word-break:keep-all;
    text-align:center;
    top:108%;
    height:0;width:0;overflow:hidden;
}
#istopymenu>.ascase>.asshare>a.asread:hover>span[as='icontxt'],
#istopymenu>.ascase>.asshare>a.asload:hover>span[as='icontxt']{
    height:auto;width:auto;
}
#istopymenu>.ascase>.asshare>a:hover{opacity:1;}
#istopymenu>.ascase>.asshare>a>i{}
#istopymenu>.ascase>.asshare>a>i>svg{}


#isnavycase{
    display:block;
    width:100%;
    position:absolute;bottom:0;
    position:relative;bottom:auto;
}
#isnavycase{font-size:1em;}
#isnavyline{
    display:block;position:absolute;width:100%;
    z-index:444;
    border-top:1px solid rgba(0,0,0,0.25);
    border-bottom:1px solid rgba(255,255,255,0.125);
    visibility:hidden;
}
#isnavycase>#isnavymenu{
    font-size:16px;;;;
}









@media only screen and (max-width: 300px) {                         #isnavycase>#isnavymenu{font-size:12px;}}
@media only screen and (min-width: 301px) and (max-width: 350px) {  #isnavycase>#isnavymenu{font-size:12px;}}
@media only screen and (min-width: 351px) and (max-width: 450px) {  #isnavycase>#isnavymenu{font-size:14px;}}
@media only screen and (min-width: 451px) and (max-width: 630px) {  #isnavycase>#isnavymenu{font-size:18px;}}
@media only screen and (min-width: 631px) and (max-width: 810px) {  #isnavycase>#isnavymenu{font-size:20px;}}
@media only screen and (min-width: 811px) {                         #isnavycase>#isnavymenu{font-size:22px;}}











#isnavycase>#isnavymenu{
    position:relative;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    font-weight:500;
}
#isnavycase>#isnavymenu:before{
    content:'';
    position:absolute;
    display:block;
    width:100%;height:calc(100% + 2.125em);
    top:-2.125em;left:0;
    background:linear-gradient(
        to bottom,
        rgba(128,108,64,1)0%,
        rgba(116,96,48,1)25%,
        rgba(108,96,32,1)50%,
        rgba(108,88,32,1)75%,
        rgba(80,72,32,1)100%);
}






#isnavycase>#isnavymenu>.aslist{
    margin-top:-2.125em;*
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:nowrap;
    width:100%;
    max-width:1080px;
}
@media only screen and (max-width: 350px) {                         #isnavycase>#isnavymenu>.aslist{max-width:100%;}}
@media only screen and (min-width: 351px) and (max-width: 450px) {  #isnavycase>#isnavymenu>.aslist{max-width:100%;}}
@media only screen and (min-width: 451px) and (max-width: 630px) {  #isnavycase>#isnavymenu>.aslist{max-width:90%;}}
@media only screen and (min-width: 631px) and (max-width: 810px) {  #isnavycase>#isnavymenu>.aslist{max-width:80%;}}
@media only screen and (min-width: 811px) {                         #isnavycase>#isnavymenu>.aslist{max-width:70%;}}







#isnavycase>#isnavymenu>.aslist>.asunit{
    flex-basis:auto;
    flex-grow:1;
    flex-shrink:0;
    position:relative;
    display:flex;
    flex-direction:column;
    padding:0 0.25em;
    padding-top:0.5em;
    padding-bottom:0.25em;
    color:#fffedc;
}
#isnavycase>#isnavymenu>.aslist>.asunit>.asborderleft{
    position:absolute;
    display:block;
    top:0;left:-1px;height:100%;
    border-left:1px solid rgba(0,0,0,0.33);
    border-right:1px solid rgba(255,255,255,0.25);
}
#isnavycase>#isnavymenu>.aslist>.asunit:after{
    content:'';
    position:absolute;
    display:block;
    top:0;right:-1px;height:100%;
    border-left:1px solid rgba(0,0,0,0.33);
    border-right:1px solid rgba(255,255,255,0.25);
}
#isnavycase>#isnavymenu>.aslist>.asunit:hover{
    background-color:rgba(0,0,0,0.125);
    color:#FCC95D;
}
#isnavycase>#isnavymenu>.aslist>.asunit>p{
    position:relative;
    display:block;
    width:100%;
    text-align:center;
}
#isnavycase>#isnavymenu>.aslist>.asunit>p[as='text']{
    padding:0.25em 0;
}
#isnavycase>#isnavymenu>.aslist>.asunit>p[as='icon']{}
#isnavycase>#isnavymenu>.aslist>.asunit>p[as='icon']>span{
    height:1.6em; width:2.4em;
}
#isnavycase>#isnavymenu.asnavyfixy{z-index:99;
    position:fixed;top:0;width:100%;
}


#isnavytool{
    font-size:1rem;
    position:fixed;
    bottom:0;right:0;
    opacity:0;
    transition:opacity 1s;
}
@media only screen and (max-width: 450px) {                         #isnavytool{font-size:1rem;}}
@media only screen and (min-width: 451px) and (max-width: 630px) {  #isnavytool{font-size:1.125rem;}}
@media only screen and (min-width: 631px) and (max-width: 810px) {  #isnavytool{font-size:1.25rem;}}
@media only screen and (min-width: 811px) {                         #isnavytool{font-size:1.375rem;}}
#isnavytool>.ascase{}
#isnavytool>.ascase>.astool{font-size:1.625em;}
#isnavytool>.ascase>.astool>a{background-color:#be2e02;opacity:0.75;color:#fff;padding:0.1em;border-radius:50%;margin:0.25em;}
#isnavytool>.ascase>.astool>a:hover{background-color:#be2e02;opacity:1;}




#isbody{position:relative;display:block;width:100%;padding:0;border:0;margin:0;font-size:inherit;}
#isbody>section{
    position:relative;
    display:block;
    width:100%;
    box-sizing:border-box;
    padding-bottom:3rem;
}
#isbody>section:nth-child(1){background-color:#ddd7c2;}
#isbody>section:nth-child(2){background-color:#CAC7B5;}
#isbody>section:nth-child(3){background-color:#DED9D1;}
#isbody>section:nth-child(4){background-color:#EBEAE1;}
#isbody>section>.ascase{
    width:100%; max-width:1080px; box-sizing:border-box; margin:0 auto; border:0; padding:0.25em;
    padding:0.5em;;;;
    padding-top:3em;
}
#isbody>section>.ascase>.asboxy{}




.astopic{font-size:1rem;}
@media only screen and (max-width: 450px) {                         .astopic{font-size:14px;}}
@media only screen and (min-width: 451px) and (max-width: 630px) {  .astopic{font-size:16px;}}
@media only screen and (min-width: 631px) and (max-width: 810px) {  .astopic{font-size:18px;}}
@media only screen and (min-width: 811px) {                         .astopic{font-size:20px;}}
.astopic{
    color:#78500E;
    position:relative;
    display:block;
    width:100%;
    padding-bottom:1em;
    padding-top:0.5em;
    margin-bottom:1em;
}
.astopic>div{
    display:block;
    position:relative;
    margin:auto;
    width:100%;;;;
    max-width:1080px;
}
@media only screen and (max-width: 450px) {                         .astopic>div{width:100%;}}
@media only screen and (min-width: 451px) and (max-width: 630px) {  .astopic>div{width:90%;}}
@media only screen and (min-width: 631px) and (max-width: 810px) {  .astopic>div{width:80%;}}
@media only screen and (min-width: 811px) {                         .astopic>div{width:70%;}}
.astopic>div>[as='icon']{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    align-items:center;
    justify-content:center;
    padding-bottom:0.5em;
    opacity:0.8;

}
.astopic>div>[as='icon']>span{
    font-size:2em;
    height:1.6em; width:2.4em;
}
.astopic>div>[as='text']{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    align-items:center;
    justify-content:center;
}
.astopic>div>[as='text']>span{font-size:2.25em;font-weight:700;}
.astopic>div>[as='text']:before,
.astopic>div>[as='text']:after{
    content:'';
    height:0.8em;
    margin:0 1em;
    opacity:0.6666;
    display:block;    
    flex-basis:auto;
    flex-grow:1;
    border:1px solid currentColor;
    border-left:0; border-right:0;
}




.asgraph{
    position:relative;
    display:block;
    width:100%;
    font-size:1rem;
}
.asgraph>.aswall{
    position:relative;
    display:flex;
    flex-wrap:wrap;
}
.asgraph>.aswall>.asbric{
    position:relative;
    display:block;
    width:100%;
    box-sizing:border-box;
}
@media only screen and (max-width: 810px) { 
    .asgraph>.aswall>.asbric{width:100%;}
}
@media only screen and (min-width: 811px) { 
    .asgraph>.aswall>.asbric{width:50%;}
    .asgraph>.aswall>.asbric:nth-child(odd){padding-right:0.5em;}
    .asgraph>.aswall>.asbric:nth-child(even){padding-left:0.5em;}

}
.asgraph>.aswall>.asbric>.asfigure{margin:1em 0;box-sizing:border-box;padding:1em;}
.asgraph>.aswall>.asbric>.asfigure>p>img{}
.asgraph>.aswall>.asbric>.asfigure>p>img[card]{
    margin-top:-1.25em;
    margin-bottom:-4em;
}
.asgraph.ascard3{}
.asgraph.ascard3>.aswall{margin-top:-1em;}
.asgraph.ascard3>.aswall>.asbric{display:flex;flex-direction:column;}
.asgraph.ascard3>.aswall>.asbric>.asfigure{flex:none;}
.asgraph.ascard3>.aswall>.asbric>.ascaption{flex:none;}
.asgraph.ascard3>.aswall>.asbric>.asnote{flex:auto;flex-shrink:1;flex-grow:1;}
.asgraph{font-size:1rem;}




.asgraph>.aswall>.asbric>.ascaption{
    font-size:1.625rem;;;; color:#740000; font-weight:500;line-height:1.75em;margin-top:1em;
}
.asgraph>.aswall>.asbric>.ascaption>p{margin-left:0.75em;}
.asgraph>.aswall>.asbric>.ascaption>p:before{
    content:'►';
    position:absolute;
    font-size:0.75em;
    top:0;left:-1em;
}
.asgraph>.aswall>.asbric>.asnote{
    font-size:1.25rem;;;; color:#000; 
    font-weight:400;
    line-height:1.25em;
}
.asgraph>.aswall>.asbric>.asnote>p{margin-left:0.875em;margin-bottom:0.5em;}
.asgraph>.aswall>.asbric>.asnote>p:before{
    content:'．';
    position:absolute;
    top:0.05em;left:-1em;
}




.asnotice{font-size:0.875rem;;;;}
@media only screen and (max-width: 450px) {                        .asnotice{font-size:15px;}}
@media only screen and (min-width: 451px) and (max-width: 630px) { .asnotice{font-size:16px;}}
@media only screen and (min-width: 631px) and (max-width: 810px) { .asnotice{font-size:17px;}}
@media only screen and (min-width: 811px) {                        .asnotice{font-size:18px;}}
.asnotice>div{
    font-size:calc(1em - 2px);
    font-family:'Roboto',
        'Microsoft JhengHei UI','Microsoft JhengHei',
        'microsoft mhei',
        'Microsoft YaHei UI','Microsoft YaHei',
        'PMingLiU',
        sans-serif;
    color:#373624;
    padding:0;
}
.asnotice>div>p{line-height:1.5em;padding:0.25em 0;}
.asnotice>div>p b{
    font:inherit;

}
@media only screen and (max-width: 810px) { 
.asnotice>div>p{line-height:1.25em;}
}
@media only screen and (min-width: 811px) { 
    
}


.asseperate{font-size:1rem;border-bottom:1px dashed #000;opacity:0.35;margin:2em 0;}




.assubject{font-size:1rem;}
.assubject{
    font-size:1.625rem;;;; color:#740000; font-weight:500;line-height:1.3333em;
    margin-top:2em;margin-bottom:0.5em;
}

.assubject>p{margin-left:0.75em;}
.assubject>p:before{
    content:'►';
    position:absolute;
    font-size:0.75em;
    top:0;left:-1em;
}
.aspreface{
    font-size:1.25rem;;;; color:#000; 
    font-weight:400;
    line-height:1.25em;
}
.aspreface>p{margin-left:0.75em;margin-bottom:0.5em;}
.aspreface>p:before{
    content:'．';
    position:absolute;
    top:0.05em;left:-1em;
}



@media only screen and (max-width: 450px) {                         
    .asgraph>.aswall>.asbric>.ascaption,
    .assubject{font-size:1.125rem;}
    .asgraph>.aswall>.asbric>.asnote,
    .aspreface{font-size:0.875rem;}
}
@media only screen and (min-width: 451px) and (max-width: 630px) {  
    .asgraph>.aswall>.asbric>.ascaption,
    .assubject{font-size:1.375rem;}
    .asgraph>.aswall>.asbric>.asnote,
    .aspreface{font-size:1.125rem;}
}
@media only screen and (min-width: 631px) and (max-width: 810px) {  
    .asgraph>.aswall>.asbric>.ascaption,
    .assubject{font-size:1.5rem;}
    .asgraph>.aswall>.asbric>.asnote,
    .aspreface{font-size:1.25rem;}
}
@media only screen and (min-width: 811px) {                         
    .asgraph>.aswall>.asbric>.ascaption,
    .assubject{font-size:1.625rem;}
    .asgraph>.aswall>.asbric>.asnote,
    .aspreface{font-size:1.375rem;}
}















.astable{font-size:1.125rem;}
@media only screen and (max-width: 450px) {                         .astable{font-size:12px;}}
@media only screen and (min-width: 451px) and (max-width: 630px) {  .astable{font-size:14px;}}
@media only screen and (min-width: 631px) and (max-width: 810px) {  .astable{font-size:16px;}}
@media only screen and (min-width: 811px) {                         .astable{font-size:18px;}}
.astable{
    font-weight:300;
    line-height:1.125em;
    margin-bottom:1em;
}
.astable>table{  
    border-collapse: separate;
    border-spacing:2px;
    background-color:#fff;
    border-radius:calc(1em + 2px);
}
@media only screen and (max-width: 810px) { .astable{
    font-family:
            'Roboto',
            'Microsoft JhengHei UI','Microsoft JhengHei',
            'microsoft mhei',
            'Microsoft YaHei UI','Microsoft YaHei',
            'PMingLiU',
            sans-serif;
    
    } 
    .astable>table{  
        border-spacing:1px;
    }
}
@media only screen and (min-width: 811px) { .astable{
    font-family:
            'Roboto','Noto Sans TC',
            'Microsoft JhengHei UI','Microsoft JhengHei',
            'microsoft mhei',
            'Microsoft YaHei UI','Microsoft YaHei',
            'PMingLiU',
            sans-serif;    
    }
    .astable>table{  
        border-spacing:2px;
    }
}
.astable>table>tbody{}
.astable>table>tbody>tr{}
.astable>table>tbody>tr>td{
    word-break:normal;
    word-wrap:break-word;
    padding:0.4em 0.25em 0.2em;
}
.astable>table>tbody>tr>td>span{position:relative;display:inline-block;}
.astable>table>tbody>tr>td:nth-child(1){
    width:20%;
    display:table-cell;
    position:relative;
}
.astable>table>tbody>tr>td:nth-child(1){
    vertical-align:middle;
}
.astable>table>tbody>tr.asmiddle>td{text-align:center;vertical-align:middle;}
.astable>table>tbody>tr:first-child>td:first-child{border-top-left-radius:1em;}
.astable>table>tbody>tr:first-child>td:last-child{border-top-right-radius:1em;}
.astable>table>tbody>tr:last-child>td:first-child{border-bottom-left-radius:1em;}
.astable>table>tbody>tr:last-child>td:last-child{border-bottom-right-radius:1em;}
.astable>table>tbody>tr:first-child>td:last-child{
    background-color:#d6858b;color:#fff;text-align:center;
    font-size:1.125em; font-weight:400;
}
.astable>table>tbody>tr>td{background-color:#fffff6;color:#555151; }
.astable>table>tbody>tr:nth-child(even)>td{background-color:#e7cdd7;color:#555151;}
.astable>table>tbody>tr>td:first-child{
    background-color:#d6858b;color:#fff;text-align:center;
    font-size:1em; font-weight:400;
}
.astable>table>tbody>tr>td.ashead{
    padding:1em 0;
    font-size:20px;
    font-family:
            'Roboto','Noto Sans TC',
            'Microsoft JhengHei UI','Microsoft JhengHei',
            'microsoft mhei',
            'Microsoft YaHei UI','Microsoft YaHei',
            'PMingLiU',
            sans-serif;    
}

/* ---------------------------Coco--------------------------------*/
 .astable2{
    font-family:
            'Roboto','Noto Sans TC',
            'Microsoft JhengHei UI','Microsoft JhengHei',
            'microsoft mhei',
            'Microsoft YaHei UI','Microsoft YaHei',
            'PMingLiU',
            sans-serif;    
    }
    .astable2>table{  
        border-spacing:2px;
    }
}
.astable2>table>tbody{}
.astable2>table>tbody>tr{}
.astable2>table>tbody>tr>td{
    word-break:normal;
    word-wrap:break-word;
    padding:0.4em 0.25em 0.2em;
}
.astable2>table>tbody>tr>td>span{position:relative;display:inline-block;}
.astable2>table>tbody>tr>td:nth-child(1){
    width:20%;
    display:table-cell;
    position:relative;
}
.astable2>table>tbody>tr>td:nth-child(1){
    vertical-align:middle;
}
.astable2>table>tbody>tr.asmiddle>td{text-align:center;vertical-align:middle;}
.astable2>table>tbody>tr:first-child>td:first-child{border-top-left-radius:1em;}
.astable2>table>tbody>tr:first-child>td:last-child{border-top-right-radius:1em;}
.astable2>table>tbody>tr:last-child>td:first-child{border-bottom-left-radius:1em;}
.astable2>table>tbody>tr:last-child>td:last-child{border-bottom-right-radius:1em;}
.astable2>table>tbody>tr:first-child>td:last-child{
    background-color:#7aa5cd;color:#fff;text-align:center;
    font-size:1.125em; font-weight:400;
}
.astable2>table>tbody>tr>td{background-color:#f4fefd;color:#4e4e4e; }
.astable2>table>tbody>tr:nth-child(even)>td{background-color: #ccdff0;color: #4e4e4e;}
.astable2>table>tbody>tr>td:first-child{
    background-color:#7aa5cd;color:#fff;text-align:center;
    font-size:1em; font-weight:400;
}
.astable2>table>tbody>tr>td.ashead{
    padding:1em 0;
    font-size:20px;
    font-family:
            'Roboto','Noto Sans TC',
            'Microsoft JhengHei UI','Microsoft JhengHei',
            'microsoft mhei',
            'Microsoft YaHei UI','Microsoft YaHei',
            'PMingLiU',
            sans-serif;    
}

/*--------------coco-----------------------*/
.asdownload{position:relative;display:block;width:100%;

}
.asdownload>div{position:relative;width:100%;display:flex;flex-direction:row;flex-wrap:nowrap;align-items:center;justify-content:center;}
.asdownload>div:first-child{border-bottom:1px solid #fff;}
.asdownload>div>p{
    position:relative;
    display:block;
    width:33%;
    text-align:center;
    padding:0.25em 0.125em;
}
.asdownload>div>p+p{border-left:1px solid #fff;}
.asdownload>div>p>a{
    font-size:1em;color:#008cc6;padding:0.375em 0.5em 0.125em 0.5em;
    word-break:normal;word-wrap:normal;
}
.asdownload>div>p>a:hover{
    color:#c85737;
}

.asdownload>div>p>a>span>i{display:inline-block;}
/*
.asdownload>div>p>a>[as='iconsvg']{font-size:1em;color:#4A7AB1;}
.asdownload>div>p>a>[as='icontxt']{font-size:1em;color:#3366a7;}
*/
.asdownload>div>p>a>[as='iconsvg']{position:relative;display:block;width:1.5rem;height:1.5rem;margin-top:-0.25em;}

@media only screen and (min-width: 811px) {
    .asdownload>div:first-child{border-bottom:2px solid #fff;}
    .asdownload>div>p+p{border-left:2px solid #fff;}
}






#isfoot{position:relative;display:block;width:100%;padding:0;border:0;margin:0;font-size:inherit;}
#isfoot>section{
    position:relative;
    display:block;
    width:100%;max-width:1080px;overflow-x:hidden;
    height:auto;
    margin:auto;
    font-size:1rem;
    padding:0.5rem;
}
#isfoot>section{font-size:1rem;}
#isfoot,
#isfoot section{
    box-sizing:border-box;
}
#isfoot{font-size:1rem;;;;
    background-color:#E3E5E5;
    width:100%;
    box-sizing:border-box;
}
#isfoot>section{position:relative;display:block;width:100%;}
#isfoot>section.asfoot{font-size:1em;}
#isfoot>section.asfoot>.ascompany{
    display:flex;
    flex-direction:row-reverse;
    flex-wrap:nowrap;
    margin-top:0.25em;
}
@media only screen and (max-width: 520px) {
    #isfoot>section.asfoot>.ascompany{flex-direction:column;}
    #isfoot>section.asfoot>.ascompany>.aslogo>a{
        display:flex;
        justify-content:center;
        align-items:center;
    }
    #isfoot>section.asfoot>.ascompany>.asinfo>.asname{text-align:center;}
    #isfoot>section.asfoot>.ascompany>.asinfo>.asaddr{text-align:center;
        word-break:keep-all;
        word-wrap:normal;
    }
}
#isfoot>section.asfoot>.ascompany>.asinfo>.asaddr>span{display:inline-block;}
#isfoot>section.asfoot>.ascompany>.aslogo{padding:0.25em;}
#isfoot>section.asfoot>.ascompany>.aslogo>a{}
#isfoot>section.asfoot>.ascompany>.aslogo>a>img{width:12em;height:calc(100% * 216 / 50);}
#isfoot>section.asfoot>.ascompany>.asinfo{
    padding:0.25em;
    flex:auto;
    flex-grow:1;
}
#isfoot>section.asfoot>.ascompany>.asinfo>.asname{font-size:1.25em;font-weight:500;}
#isfoot>section.asfoot>.ascompany>.asinfo>.asaddr{font-size:0.75em;font-weight:normal;
font-family:
        'Roboto',
        'Microsoft JhengHei UI','Microsoft JhengHei',
        'microsoft mhei',
        'Microsoft YaHei UI','Microsoft YaHei',
        'PMingLiU',
        sans-serif;
        margin-top:0.5em;
}
#isfoot>section.asfoot>.asfootline{
    border-bottom:1px solid #999;
    margin:0.5em 0;
}
#isfoot>section.asfoot>.ascaution{
    font-size:0.875em;
font-family:
        'Roboto',
        'Microsoft JhengHei UI','Microsoft JhengHei',
        'microsoft mhei',
        'Microsoft YaHei UI','Microsoft YaHei',
        'PMingLiU',
        sans-serif;
    font-weight:normal;
    line-height:1.25em;
    color:#2b2b2b;
    text-align:justify;
}
#isfoot>section.asfoot>.ascaution>p{}
#isfoot>section.asfoot>.ascaution>p.asfootlist{position:relative;margin-left:1.5em;}
#isfoot>section.asfoot>.ascaution>p.asfootlist>u{position:absolute;left:-1.5em;}
#isfoot>section.asfoot>.ascaution>p>b{

    font-weight:600;
}
#screenshow{display:none;}




#iconshow{
    position:relative;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    display:none;
}
#iconshow>div{
    flex-basis:auto;
    flex-shrink:0;
    flex-grow:1;
    display:flex;
    flex-direction:row;flex-wrap:nowrap;
    align-items:center;
}
#iconshow>div>div{
    width:12em;
    justify-content:flex-start;
}

#scrollshow{
    position:fixed;
    top:0;left:50%;
    transform:translateX(-50%);
    top:-100em;
    
}






@media only screen and (max-width: 810px) { 
    .asmobyshow{display:block;}
    .aswall.asmobyhide{display:none;}
}
@media only screen and (min-width: 811px) { 
    .asmobyshow{display:none;}
    .aswall.asmobyhide{display:flex;padding-top:0.5rem;}
}



.asanchor{display:block;padding:0;border:0;margin:0;}
#isanchor01,
#isanchor02,
#isanchor03,
#isanchor04{}



