@using MyTool.Services
@using MyTool.Enums
@using WabMaker.Web.Helpers
@model WabMaker.Web.WebViewModels.ItemPageResult

@* 延伸閱讀(Detail) *@
<div class="com  article_4 wow fadeInUp  88">
    <div class="title_box">
        <h1 class="titlt_inline">延伸閱讀</h1>
        <span class="titlt_inline"><a><i class="fas fa-angle-double-right"></i></a></span>
    </div>
    <ul class="mhn-slide owl-carousel">
        @if (Model != null && Model.DataResult.Data.Any())
        {
                foreach (var item in Model.DataResult.Data)
                {
                    var mainImage = item.ItemFiles?.FirstOrDefault(x => x.SourceType == (int)SourceType.ItemConver);

                    if (mainImage != null)
                    {
                        <li class="mhn-item">
                            <div class="mhn-inner aside_4_rec">
                                <a href="@Url.Action("Get", "Item", new { routeName = item.Item.RouteName })">
                                    <hgroup>
                                        <p class="img_block  pic "><img src="@(mainImage.FileType==FileType.YouTube?_YouTube.SetThumbnail(mainImage.FilePath):RouteHelper.SetImagePath(mainImage.FilePath, mainImage.ThumbnailPath))"></p>
                                        <div class="mhn-img">
                                            <div class="loader-circle">
                                                <div class="loader-stroke-left"></div>
                                                <div class="loader-stroke-right"></div>
                                            </div>
                                        </div>
                                        <h1>@item.ItemLanguage.Subject</h1>
                                        <h2>@item.ItemLanguage.Description</h2>
                                    </hgroup>
                                </a>
                            </div>
                        </li>
                    }
                }
        }
    </ul>
</div>